#testimonial{
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    min-width: 200px;
    max-width: 400px;
    border: none;
    display: inline-block;
    padding: 24px 36px;
    /* cursor: pointer; */
    border-radius: 36px;
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}

.col-mw{
    min-width: 220px;
    max-width: 430px;
}

.m-auto{
    margin: auto 0;
}

.row{
    margin: 0;
}

.card > p{
    font-size: 1rem;
    font-weight: 400;
}

.card > h2{
    font-size: 1.2rem;
    font-weight: 700;
}

.mt-2r{
    margin-top: 2rem;
}

.button{
    margin: 0;
}

.small-font{
    font-size: 0.6rem !important;
}

.mr-6{
    margin-right: 6rem;
}

@media (max-width: 767.98px) {
    #header h1{
        font-size: 5rem;
    }
}

@media (max-width: 750px) {
    #header h1{
        font-size: 4rem;
    }
}

@media (max-width: 640px) {
    #header h1{
        padding-top: 1rem;
        font-size: 3.5rem;
    }
}