{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'tentangkami/css/tentangkami.css' %}">
{% endblock %}
{% block content %} 
<section id="header" class="d-flex b-green position-relative" style="margin-bottom: 20px;">
    <div class="d-flex align-items-center position-relative z-1">
        <h1>Tentang <br>Kami</h1>
    </div>  
    <img src="{% static 'tentangkami/lamp.png' %}" class="position-absolute">
</section>
<section>
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-5" >
            <img src="{% static 'tentangkami/coffee.jpg'%}" alt="FotoKopi" style="height: 82%; width: 100%;">
        </div>
        <div class="col-md-7 ">
            <h1>Cerita Kami</h1>
            <p style="font-size: 1rem;" >MatchA Drink merupakan sebuah startup retail minuman yang ingin menyajikan minuman high quality untuk para pelanggannya. 
                Nama MatchA Drink yang diambil dari Match A Drink yang berarti para pelanggan dapat memesan minuman sebebasnya . Kami ingin eksistensi kami akan membuat standar baru minuman berkualitas untuk konsumen.
                MatchA Drink dibuat dari hasil pemikiran kami tentang minuman yang dapat dipesan online. </p>
        </div>
    </div> 
    
    <div class ="row" style="margin-bottom: 60px;">
        <div class ="col-sm">
            {% if not user.is_authenticated %}
                <h2>Lebih Dekat dengan Kami!</h2>
                <h4 id="ubah"></h4>
                <p for ="input">Berlangganan <i>Newsletter</i> kami</p>
                {% csrf_token %}
                {{ generated_form.email }}
                <p id = "salah"></p>
                <div class="mt-2">
                    <button class ="button b-green" disabled id="id_button">Yay!</button>
                </div>
            {% else %}
                <h4 style="margin-top: 1cm;">Terima Kasih <strong>{{user.username}}</strong> telah berlangganan dengan kami</h4>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
$("#id_button").on('click',
    function () {
        var emailInput = $("#id_email").val();
        $.ajax({
            type: "POST",
            url : "/tentang_kami/masukan_data/",
            data: {
                'email' : emailInput,
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: function(result){
                alert("Terima Kasih "+result.email+" Sudah berlangganan ")
                $("#id_email").val("");
                $("#ubah").empty();
                var value = "Sudah ada "+result.banyakData+" orang yang bergabung dengan kami"
                $("#ubah").append(value);
            }
        })
    }
)

$("#id_email").keypress(
    function myFunction() {
        var data = $("#id_email").val();
        if (data.includes("@gmail") || data.includes("@ui") || data.includes("@yahoo")) {
            $("#salah").empty();
            $("#id_button").prop('disabled',false);
        }else{
            $("#salah").empty();
            $("#id_button").prop('disabled',true);
            $("#salah").append("Email yang anda masukkan tidak valid");
        }
    }
)

$("document").ready(
    function panggilData() {
        $.ajax({
            type : "GET",
            url : "/tentang_kami/get_data/",
            dataType : "json",
            success : function (result) {
                $("#ubah").empty();
                var value = "Sudah ada "+result.banyakEmail+" orang yang bergabung dengan kami"
                $("#ubah").append(value);    
                setTimeout(function() {
                    panggilData();
                }, 15000);    
            }
        })
    }
)

</script>
{% endblock %}
