.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  display: flex;
  transition: 0.3s;
  height: 477px;
  max-width: 355px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-user {
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  margin: 12px;
  border-radius: 1rem;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding: 0 20px;
}

.container>p {
    font-size: 18px;
}

.desc-card {
    padding: 25px;
}

h3, h5 {
    font-weight: bold;
}

.text-center {
    padding-top: 40%;
}

.btn-selengkapnya {
  top: 0;
  width: 75px;
  height: 75px;
  border: none;
  background-color: unset;
  background-repeat: no-repeat;
}

.h-100 {
    background-color: rgba(0, 0, 0, 0.2);
}

/* .button {
    border-radius: 50%;
    width: 20%;

} */

#homepage {
    min-height: 75vh;
}

#homepage .homepage {
    margin: 60px 0;
}

#homepage .container-fluid {
  padding: 0;
}
#homepage .row {
  margin-top: 40px;
  margin-bottom: 40px;
}
#homepage .name {
  font-size: 1.333rem;
  font-weight: bold;
}
#homepage .price {
  font-weight: 600;
}
#homepage .desc {
  color: #333;
}
