<div class="menu">
  <h1>Hasil Pencarian</h1>
  <div class="container-fluid">
    {% for menu in search_result %}
    <div class="row align-items-center">
      <div class="col-6 col-md-2">
        <img src="{{ menu.image.url }}">
      </div>
      <div class="col-6 col-md-2">
        <span class="name">{{ menu.name }}</span>
        <br>
        <span class="price">Rp {{ menu.price|intcomma }}</span>
      </div>
      <div class="desc col-6 col-md-5">
        {{ menu.description }}
      </div>
      <div class="col-6 col-md-3">
        <div class="input-number position-relative">
          <button onclick="this.parentNode.querySelector('input').stepDown()" class="btn-min"></button>
          {{ menu.form_field }}
          <button onclick="this.parentNode.querySelector('input').stepUp()" class="btn-plus"></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
