{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'testimonial/style.css' %}">
{% endblock %}

{% block content %}
<section id="header" class="d-flex b-green position-relative">
    <div class="d-flex align-items-center position-relative z-1">
        <h1>Testimoni</h1>
    </div>
    <img src="{% static 'testimonial/testimonial_photo.png' %}" class="position-absolute">
</section>
<section id="testimonial" class="d-flex flex-column flex-md-row">
    <div class="row">
        <div class="col-md">
            <div class="col-mw">
                {% if user.is_authenticated %}
                <form action='' method="POST" id="form-testi">
                    {% csrf_token %}
                    {{ form.message.label_tag }}
                    {{ form.message }}
                    <br>
                    <input id="testi-sub" type="button" class="button b-green" value="Submit">
                </form>
                {% else %}
                <h1 style="margin-top:2rem;">Masuk dulu ya</h1>
                {% endif %}
            </div>
        </div>
        <div class="col-md flex-row" id="testimonial-result">
            <!-- json -->
        </div>
    </div>

{% block script %}
<script>
var url = '{% url "testimonial:testimonial_JSON" %}'
var url2 = '{% url "testimonial:testimonial" %}'
</script>
<script src="{% static 'testimonial/testimonial.js' %}"></script>
{% endblock %}

</section> 
{% endblock %}