html {
  font-size: 18px;
}
body {
  font-family: 'Nunito', sans-serif;
  color: #333;
}
nav.navbar {
  padding: 1rem 80px;
  max-width: 1360px;
  margin: 0 auto;
}
footer {
  bottom: 0;
  height: 120px;
  font-size: 1.2rem;
  width: 100%;
}
section > div {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1360px;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-weight: bold;
}
#container {
  min-height: 100vh;
  padding: 81px 0 160px;
}
#header {
  min-height: 80vh;
}
#header h1 {
  font-size: 5rem;
  font-weight: 800;
}
#header img {
  right: 0;
  bottom: 0;
  height: 100%;
}
.b-green {
  color: #F6FDF8 !important;
  background-color: #00B14F !important;
}
.b-darkgreen {
  color: #F6FDF8 !important;
  background-color: #167C44 !important;
}
.b-white {
  color: #333 !important;
  background-color: #F6FDF8 !important;
}
.b-white {
  color: #333;
  background-color: #F6FDF8;
}
.t-green {
  color: #00B14F !important;
}
.t-darkgreen {
  color: #167C44 !important;
}
.t-white {
  color: #F6FDF8 !important;
}
.z-1 {
  z-index: 10;
}
.button {
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  margin: 12px;
  border-radius: 1rem;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}
.t-white {
  color: #F6FDF8;
}
.z-1 {
  z-index: 10;
}
.button {
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  margin: 12px;
  border-radius: 1rem;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
}

.modal-title-header {
    display: flex;
}

@media (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
  nav.navbar, section > div {
    padding-left: 40px;
    padding-right: 40px;
  }
  #container {
    padding-top: 63px;
  }
  #header {
    min-height: 95vh;
  }
  #header > div {
    height: 100%;
    padding-top: 20vh;
  }
  #header > img {
    width: 100%;
    height: auto;
  }
}
