.header-modal {
    display: inline-block;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 400;
    /* color: #212529; */
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-title {
    /* margin: 0 5.5vw; */
}

.clicked {
    color: #00B14F !important;
}

.not-clicked {
    color: white;
    background-color: #01652E;
}

.form-login {
    /* margin-right: 50%;
    margin-left: 50%; */
    padding-left: 5.5vw;
    padding-right: auto;
}

.form-label {
    font-size: 1.125rem;
}

.hidden {
    /* visibility: none; */
    display: none;
}

#form_login {
    color: #00B14F !important;
}

#form_register {
    color: #00B14F !important;
}
