<div class="modal-body">
    {% csrf_token %}
    <form class="form-login mx-auto" id="form-login" method="POST">
        <h1 class="t-green">Yuk Masuk</h1>
        <div class="">
            <span class="t-green form-label">{{ form_login.username.label }}</span>
            <br>
            {{ form_login.username }}
        </div>
        <div class="">
            <span class="t-green form-label">{{ form_login.password.label }}</span>
            <br>
            {{ form_login.password }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success">Masuk</button>
    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Kembali</button>
</div>
