<div class="modal-body">
    {% csrf_token %}
    <form class="form-login mx-auto hidden" id="form-regis" method="POST">
        <h1 class="t-green">Daftar Yuk</h1>
        <div class="">
            <span class="t-green form-label">{{ form_register.username.label }}</span>
            <br>
            {{ form_register.username }}
        </div>
        <div class="">
            <span class="t-green form-label">{{ form_register.email.label }}</span>
            <br>
            {{ form_register.email }}
        </div>
        <div class="">
            <span class="t-green form-label">{{ form_register.password1.label }}</span>
            <br>
            {{ form_register.password1 }}
        </div>
        <div class="">
            <span class="t-green form-label">{{ form_register.password2.label }}</span>
            <br>
            {{ form_register.password2 }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success">Masuk</button>
    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Kembali</button>
</div>
